* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

body {
    background-color: rgb(236, 236, 238);
    width: 100%;
    min-height: screen;
}

/* Header */
.head-layout {
    width: 100%;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.box-header {
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box-header a {
    width: 90px;
    height: 90px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
}

.box-header a #avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.title-description {
    width: 300px;
    text-align: center;
}

.title-description .name {
    font-size: 24px;
    font-weight: semibold;
    margin-bottom: 7px;
}

.title-description .profesion {
    font-size: 14px;
    margin-bottom: 13px;
}

.subtitle {
    text-align: left;
    margin-left: 5rem;
}

/* section certificados */
.main-container {
    width: 100%;
    min-height: screen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card-grid {
    width: 80%;
    min-height: screen;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: auto;
}

.card-link {
    width: 250px;
    height: 260px;
    text-decoration: none;
    background-color: grey;
    display: flex;
    font-size: 12px;
    color: white;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}
.card-link:hover {
    position: relative;
    top: -10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.image-container {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

img {
    width: 100%;
    height: 100%;
}

.title-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
}

/* footer */
.footer-container {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1.5rem;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.email a {
    color: blue;
    font-style: italic;
    text-decoration: none;
}

.email a:hover {
    color: goldenrod;
    text-decoration: underline;
}

@media (max-width: 670px) {
    .main-container .card-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
    }

    .card-link {
        width: 70%;
        height: auto;
    }

    .image-container {
        height: auto:
    }
}